body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
}

.login-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 250px;
}

.label {
    border: 2px solid red;
    border-radius: 25px;
    padding: 15px 70px;
}

.label:hover {
    background: red;
    color: white;
}